<h1>Courses</h1>

{{#if courses.length}}
    {{#each courses}}
        <div class="row">
            <div class="col s6 offset-s3 center-align">
                <div class="card">
                    <div class="card-image">
                        <img src="{{img}}" alt="{{title}}">
                    </div>
                    <div class="card-content">
                        <p class="card-title"><b>{{title}}</b></p>
                        <p class="price">{{price}}</p>
                    </div>
                    <div class="card-action">
                        <a href="/courses/{{id}}" target="_blank">Open course</a>
                        <a href="/courses/{{id}}/edit?allow=true">Edit course</a>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>No courses yet...</p>
{{/if}}
